
<h1 class="text-3xl text-gray-500"><%= @user.name %></h1>

<%
  group_class = 'mb-5'
  label_class = 'font-semibold text-sm mb-2'
  input_class = 'p-2 rounded border-gray-200 border text-gray-500'
  roles = [['Engineer', 'engineer'], ['Manager', 'manager']]
%>

<div class="w-1/2 mx-auto">
  <%= form_with model: @user do |form| %>
    <div class="flex flex-col mb-5 border-b border-gray-200">
      <div class="<%= group_class %>">
        <div class="<%= label_class %>">Id</div>
        <div class="text-gray-400"><%= @user.id %> (<%= @user.sub %>)</div>
      </div>
      <div class="<%= group_class %>">
        <div class="<%= label_class %>">Email</div>
        <div class="text-gray-400"><%= @user.email %></div>
      </div>
      <div class="<%= group_class %> flex flex-col">
        <%= form.label :name, 'Name', class: label_class %>
        <%= form.text_field :name, class: input_class %>
      </div>
      <div class="<%= group_class %> flex flex-col">
        <%= form.label :role, 'Role', class: label_class %>
        <%= form.select :role, roles, {}, class: input_class %>
      </div>
      <div class="<%= group_class %> flex flex-col">
        <%= form.label :role, 'Manager', class: label_class %>
        <%= form.select(
          :manager_id,
          @possible_managers.filter {|m| m.id != @user.id }.collect {|m| [m.name, m.id] }, 
          { include_blank: 'No manager' },
          class: input_class) %>
      </div>
    </div>
    <div class="flex text-right justify-end">
      <%= form.submit 'Save', class: 'p-2 rounded text-white bg-blue-500' %>
    </div>
  <% end %>
</div>