<%
  input_classes = "p-2 rounded-lg border border-grey-300 focus:outline-blue-500 text-gray-800"
  label_classes = "block mb-2 text-gray-800 text-sm"
%>

<div class="w-1/2 mx-auto">
  <%= form_with model: @expense do |form| %>
    <div class="border-b border-gray-200 mb-5">
      <div class="mb-5">
        <%= form.label :amount, 'Amount:', class: label_classes %>
        <%= form.number_field :amount, class: input_classes, placeholder: '0.00', required: true %>
      </div>
      <div class="mb-5">
        <%= form.label :description, 'Description:', class: label_classes %>
        <%= form.text_area :description, class: input_classes, rows: 3, cols: 30, placeholder: 'Describe the expense..', required: true %>
      </div>
    </div>

    <div class="flex text-right justify-end">
      <% unless @expense.new_record? %>
        <%= link_to 'Delete', @expense, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'px-2 py-1 mr-1 rounded text-gray-500 bg-gray-100' %>
      <% end %>
      <%= form.submit 'Save', class: 'px-2 py-1 rounded text-white bg-blue-500' %>
    </div>
  <% end %>
</div>