<h1 class="text-3xl text-gray-500 font-light mb-10">Approval queue</h1>

<% unless @expenses.any? %>
  <div class="bg-gray-100 p-5 py-20 rounded-lg text-center text-gray-500">
    There are no expenses to approve.
  </div>
<% else %>
  <div class="rounded-lg overflow-auto bg-gray-100">
    <table class="table-auto w-full mt-5 border-collapse">
      <thead>
        <tr>
        <th class="<%= default_table_header_classes %>">Id</th>
        <th class="<%= default_table_header_classes %>">Raised by</th>
        <th class="<%= default_table_header_classes %>">Amount</th>
        <th class="<%= default_table_header_classes %>">Description</th>
        <th class="<%= default_table_header_classes %>">Status</th>
        <th class="<%= default_table_header_classes %>">Created</th>
        <th class="<%= default_table_header_classes %>">Actions</th>
        </tr>
      </thead>
      </thead>
      <tbody class="bg-white">
        <% @expenses.each do |expense| %>
          <tr>
            <td class="<%= default_table_header_classes %>"><%= expense.id %></td>
            <td class="<%= default_table_row_classes %>"><%= expense.user.name %></td>
            <td class="<%= default_table_row_classes %>"><%= number_to_currency(expense.amount) %></td>
            <td class="<%= default_table_row_classes %>"><%= expense.description %></td>
            <td class="<%= default_table_row_classes %>">
              <span class="flex items-center">
                <span class="w-6 mr-2"><%= status_icon(expense.status) %></span>
                <%= expense_status(expense.status) %></td>
              </span>
            </td>
            <td class="<%= default_table_row_classes %>"><%= time_ago_in_words(expense.created_at) %> ago</td>
            <td class="<%= default_table_row_classes %>">
              <% if show_approve_buttons?(expense) %>
                <%= link_to 'Approve', approve_expense_path(expense.id), data: { turbo_method: :post }, class: 'p-2 mr-3 bg-lime-300 text-lime-700 shadow rounded' %>
                <%= link_to 'Deny', deny_expense_path(expense.id), data: { turbo_method: :post }, class: 'p-2 mr-3 bg-slate-300 text-slate-700 shadow rounded' %>
              <% end %>
            </td>
          </tr>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>