
<div class="flex items-center mb-10">
  <h1 class="text-3xl text-gray-600 font-light mr-5">Expenses</h1>
  <div class="p-2 bg-gray-100 text-gray-500 shadow rounded flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    <%= link_to 'Create new', new_expense_path %>
  </div>
</div>

<%
  header_row_class = 'p-3 text-left text-sm font-medium text-gray-500 border-b border-gray-200'
  table_row_class = 'px-3 py-4 text-left text-sm font-normal text-gray-600 border-b border-gray-100'
%>

<% if @expenses.any? %>
  <div class="rounded-lg overflow-auto bg-gray-100 ">
    <table class="table-auto w-full mt-5 border-collapse">
      <thead>
        <tr>
        <th class="<%= header_row_class %>">Amount</th>
        <th class="<%= header_row_class %>">Description</th>
        <th class="<%= header_row_class %>">Created</th>
        <th class="<%= header_row_class %>">Actions</th>
        </tr>
      </thead>
      </thead>
      <tbody class="bg-white">
        <% @expenses.each do |expense| %>
          <tr class="<%= table_row_class %>">
            <td class="<%= table_row_class %>"><%= number_to_currency(expense.amount) %></td>
            <td class="<%= table_row_class %>"><%= expense.description %></td>
            <td class="<%= table_row_class %>"><%= time_ago_in_words(expense.created_at) %> ago</td>
            <td class="<%= table_row_class %>">
              <%= link_to 'Edit', edit_expense_path(expense.id), class: 'p-2 mr-3 bg-gray-100 text-slate-500 shadow rounded' %>
            </td>
          </tr>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="bg-gray-100 p-5 rounded-lg shadow text-center text-gray-500">
    You don't have any expenses yet!
  </div>
<% end %>