<div class="bg-slate-800 text-white p-10 pb-6 mb-10">
  <div class="flex container mx-auto">
    <div class="grow flex">
      <h1><%= link_to 'WorkNight', root_path, class: 'font-bold mr-5' %></h1>
      <span class="mr-5 font-bold">|</span>
      <% if @authenticated_user.role == 'manager' || @authenticated_user.department&.expense_approver? %>
        <%= link_to 'Approval queue', expenses_approve_path, class: 'block mr-3' %>
      <% end %>
      <%= link_to 'My expenses', expenses_path, class: 'block mr-3' %>
      <%= link_to 'Users', users_path, class: 'block mr-3' %>
      <%= link_to 'Teams', teams_path, class: 'block' %>
    </div>
    <div class="flex items-center">
      <div class="flex">
        <div class="mr-5 flex flex-col">
          <div>Logged in as <%= @authenticated_user.name %></div>
          <div class="text-right text-xs text-slate-400 uppercase"><%= @authenticated_user.department&.name %></div>
        </div>
        <div>
          <%= link_to 'logout', auth_logout_path, data: { turbo_prefetch: false, turbo: false } %>
        </div>
      </div>
    </div>
  </div>
</div>