<!DOCTYPE html>
<html>
  <head>
    <title>FgaExpensesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="container mx-auto">
      <%= yield %>
    </div>
    <%= render 'footer' %>
  </body>
</html>
